@font-face {
    font-family: 'UTMNeoSansIntelBold';
    src: url('fonts/UTMNeoSansIntelBold.eot');
    src: url('fonts/UTMNeoSansIntelBold.eot') format('embedded-opentype'),
         url('fonts/UTMNeoSansIntelBold.woff2') format('woff2'),
         url('fonts/UTMNeoSansIntelBold.woff') format('woff'),
         url('fonts/UTMNeoSansIntelBold.ttf') format('truetype'),
         url('fonts/UTMNeoSansIntelBold.svg#UTMNeoSansIntelBold') format('svg');
}
